/* .menuViewContainer {
  box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 25vw;
  margin-right: 25vw;
  border-radius: 5px;
  width: 0vw;
  height: 0px;
} */

.menuViewBlankToAbout {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 25vw;
  margin-right: 25vw;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
  animation: menuViewBlankToAbout 2s forwards;
}

@media (max-aspect-ratio: 13/9) {
  .menuViewBlankToAbout {
    margin-left: 10vw;
    margin-right: 10vw;
    animation: menuViewBlankToAboutPortrait 2s forwards;
  }
}

@keyframes menuViewBlankToAbout {
  0% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    width: 0vw;
    height: 0px;
  }
  50% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    width: 0vw;
    height: 0px;
  }
  80% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    width: 50vw;
    height: 300px;
  }
  100% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    width: 50vw;
    height: 300px;
  }
}

@keyframes menuViewBlankToAboutPortrait {
  0% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    width: 0vw;
    height: 0px;
  }
  50% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    width: 0vw;
    height: 0px;
  }
  80% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    width: 80vw;
    height: 350px;
  }
  100% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    width: 80vw;
    height: 350px;
  }
}

.menuViewAboutToPortfolio {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
  animation: menuViewAboutToPortfolio 1.5s forwards;
}

@media (max-aspect-ratio: 13/9) {
  .menuViewAboutToPortfolio {
    animation: menuViewAboutToPortfolioPortrait 1.5s forwards;
  }
}

@keyframes menuViewAboutToPortfolio {
  0% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 25vw;
    margin-right: 25vw;
    width: 50vw;
    height: 300px;
  }
  25% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 25vw;
    margin-right: 25vw;
    width: 50vw;
    height: 300px;
  }
  75% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    height: 900px;
  }
  100% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    height: 900px;
  }
}

@keyframes menuViewAboutToPortfolioPortrait {
  0% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    height: 350px;
  }
  25% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    height: 350px;
  }
  75% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    width: 95vw;
    height: 1600px;
  }
  100% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    width: 95vw;
    height: 1600px;
  }
}

.menuViewPortfolioToAbout {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
  animation: menuViewPortfolioToAbout 1.5s forwards;
}

@media (max-aspect-ratio: 13/9) {
  .menuViewPortfolioToAbout {
    animation: menuViewPortfolioToAboutPortrait 1.5s forwards;
  }
}

@keyframes menuViewPortfolioToAbout {
  0% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    height: 900px;
  }
  25% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    height: 900px;
  }
  75% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 25vw;
    margin-right: 25vw;
    width: 50vw;
    height: 300px;
  }
  100% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 25vw;
    margin-right: 25vw;
    width: 50vw;
    height: 300px;
  }
}

@keyframes menuViewPortfolioToAboutPortrait {
  0% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    width: 95vw;
    height: 1600px;
  }
  25% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    width: 95vw;
    height: 1600px;
  }
  75% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    height: 350px;
  }
  100% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    height: 350px;
  }
}

.menuViewAboutToConnect {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
  animation: menuViewAboutToConnect 1.5s forwards;
}

@media (max-aspect-ratio: 13/9) {
  .menuViewAboutToConnect {
    animation: menuViewAboutToConnectPortrait 1.5s forwards;
  }
}

@keyframes menuViewAboutToConnect {
  0% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 25vw;
    margin-right: 25vw;
    width: 50vw;
    height: 300px;
  }
  25% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 25vw;
    margin-right: 25vw;
    width: 50vw;
    height: 300px;
  }
  75% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 30vw;
    margin-right: 30vw;
    width: 40vw;
    height: 225px;
  }
  100% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 30vw;
    margin-right: 30vw;
    width: 40vw;
    height: 225px;
  }
}

@keyframes menuViewAboutToConnectPortrait {
  0% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    height: 350px;
  }
  25% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    height: 350px;
  }
  75% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 15vw;
    margin-right: 15vw;
    width: 70vw;
    height: 225px;
  }
  100% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 15vw;
    margin-right: 15vw;
    width: 70vw;
    height: 225px;
  }
}

.menuViewConnectToAbout {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
  animation: menuViewConnectToAbout 1.5s forwards;
}

@media (max-aspect-ratio: 13/9) {
  .menuViewConnectToAbout {
    animation: menuViewConnectToAboutPortrait 1.5s forwards;
  }
}

@keyframes menuViewConnectToAbout {
  0% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 30vw;
    margin-right: 30vw;
    width: 40vw;
    height: 225px;
  }
  25% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 30vw;
    margin-right: 30vw;
    width: 40vw;
    height: 225px;
  }
  75% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 25vw;
    margin-right: 25vw;
    width: 50vw;
    height: 300px;
  }
  100% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 25vw;
    margin-right: 25vw;
    width: 50vw;
    height: 300px;
  }
}

@keyframes menuViewConnectToAboutPortrait {
  0% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 15vw;
    margin-right: 15vw;
    width: 70vw;
    height: 225px;
  }
  25% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 15vw;
    margin-right: 15vw;
    width: 70vw;
    height: 225px;
  }
  75% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    height: 350px;
  }
  100% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    height: 350px;
  }
}

.menuViewPortfolioToConnect {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
  animation: menuViewPortfolioToConnect 1.5s forwards;
}

@media (max-aspect-ratio: 13/9) {
  .menuViewPortfolioToConnect {
    animation: menuViewPortfolioToConnectPortrait 1.5s forwards;
  }
}

@keyframes menuViewPortfolioToConnect {
  0% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    height: 900px;
  }
  25% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    height: 900px;
  }
  75% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 30vw;
    margin-right: 30vw;
    width: 40vw;
    height: 225px;
  }
  100% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 30vw;
    margin-right: 30vw;
    width: 40vw;
    height: 225px;
  }
}

@keyframes menuViewPortfolioToConnectPortrait {
  0% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    width: 95vw;
    height: 1600px;
  }
  25% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    width: 95vw;
    height: 1600px;
  }
  75% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 15vw;
    margin-right: 15vw;
    width: 70vw;
    height: 225px;
  }
  100% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 15vw;
    margin-right: 15vw;
    width: 70vw;
    height: 225px;
  }
}

.menuViewConnectToPortfolio {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
  animation: menuViewConnectToPortfolio 1.5s forwards;
}

@media (max-aspect-ratio: 13/9) {
  .menuViewConnectToPortfolio {
    animation: menuViewConnectToPortfolioPortrait 1.5s forwards;
  }
}

@keyframes menuViewConnectToPortfolio {
  0% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 30vw;
    margin-right: 30vw;
    width: 40vw;
    height: 225px;
  }
  25% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 30vw;
    margin-right: 30vw;
    width: 40vw;
    height: 225px;
  }
  75% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    height: 900px;
  }
  100% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    height: 900px;
  }
}

@keyframes menuViewConnectToPortfolioPortrait {
  0% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 15vw;
    margin-right: 15vw;
    width: 70vw;
    height: 225px;
  }
  25% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 15vw;
    margin-right: 15vw;
    width: 70vw;
    height: 225px;
  }
  75% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    width: 95vw;
    height: 1600px;
  }
  100% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    width: 95vw;
    height: 1600px;
  }
}

.menuViewAboutToResume {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
  animation: menuViewAboutToResume 1.5s forwards;
}

@media (max-aspect-ratio: 13/9) {
  .menuViewAboutToResume {
    animation: menuViewAboutToResumePortrait 1.5s forwards;
  }
}

@keyframes menuViewAboutToResume {
  0% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 25vw;
    margin-right: 25vw;
    width: 50vw;
    height: 300px;
  }
  25% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 25vw;
    margin-right: 25vw;
    width: 50vw;
    height: 300px;
  }
  75% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 20vw;
    margin-right: 20vw;
    width: 60vw;
    height: 1700px;
  }
  100% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 20vw;
    margin-right: 20vw;
    width: 60vw;
    height: 1700px;
  }
}

@keyframes menuViewAboutToResumePortrait {
  0% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    height: 350px;
  }
  25% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    height: 350px;
  }
  75% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    width: 85vw;
    height: 1700px;
  }
  100% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    width: 85vw;
    height: 1700px;
  }
}

.menuViewResumeToAbout {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
  animation: menuViewResumeToAbout 1.5s forwards;
}

@media (max-aspect-ratio: 13/9) {
  .menuViewResumeToAbout {
    animation: menuViewResumeToAboutPortrait 1.5s forwards;
  }
}

@keyframes menuViewResumeToAbout {
  0% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 20vw;
    margin-right: 20vw;
    width: 60vw;
    height: 1700px;
  }
  25% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 20vw;
    margin-right: 20vw;
    width: 60vw;
    height: 1700px;
  }
  75% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 25vw;
    margin-right: 25vw;
    width: 50vw;
    height: 300px;
  }
  100% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 25vw;
    margin-right: 25vw;
    width: 50vw;
    height: 300px;
  }
}

@keyframes menuViewResumeToAboutPortrait {
  0% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    width: 85vw;
    height: 1700px;
  }
  25% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    width: 85vw;
    height: 1700px;
  }
  75% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    height: 350px;
  }
  100% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    height: 350px;
  }
}

.menuViewResumeToPortfolio {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
  animation: menuViewResumeToPortfolio 1.5s forwards;
}

@media (max-aspect-ratio: 13/9) {
  .menuViewResumeToPortfolio {
    animation: menuViewResumeToPortfolioPortrait 1.5s forwards;
  }
}

@keyframes menuViewResumeToPortfolio {
  0% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 20vw;
    margin-right: 20vw;
    width: 60vw;
    height: 1700px;
  }
  25% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 20vw;
    margin-right: 20vw;
    width: 60vw;
    height: 1700px;
  }
  75% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    height: 900px;
  }
  100% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    height: 900px;
  }
}

@keyframes menuViewResumeToPortfolioPortrait {
  0% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    width: 85vw;
    height: 1700px;
  }
  25% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    width: 85vw;
    height: 1700px;
  }
  75% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    width: 95vw;
    height: 1600px;
  }
  100% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    width: 95vw;
    height: 1600px;
  }
}

.menuViewPortfolioToResume {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
  animation: menuViewPortfolioToResume 1.5s forwards;
}

@media (max-aspect-ratio: 13/9) {
  .menuViewPortfolioToResume {
    animation: menuViewPortfolioToResumePortrait 1.5s forwards;
  }
}

@keyframes menuViewPortfolioToResume {
  0% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    height: 900px;
  }
  25% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    height: 900px;
  }
  75% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 20vw;
    margin-right: 20vw;
    width: 60vw;
    height: 1700px;
  }
  100% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 20vw;
    margin-right: 20vw;
    width: 60vw;
    height: 1700px;
  }
}

@keyframes menuViewPortfolioToResumePortrait {
  0% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    width: 95vw;
    height: 1600px;
  }
  25% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    width: 95vw;
    height: 1600px;
  }
  75% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    width: 85vw;
    height: 1700px;
  }
  100% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    width: 85vw;
    height: 1700px;
  }
}

.menuViewResumeToConnect {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
  animation: menuViewResumeToConnect 1.5s forwards;
}

@media (max-aspect-ratio: 13/9) {
  .menuViewResumeToConnect {
    animation: menuViewResumeToConnectPortrait 1.5s forwards;
  }
}

@keyframes menuViewResumeToConnect {
  0% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 20vw;
    margin-right: 20vw;
    width: 60vw;
    height: 1700px;
  }
  25% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 20vw;
    margin-right: 20vw;
    width: 60vw;
    height: 1700px;
  }
  75% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 30vw;
    margin-right: 30vw;
    width: 40vw;
    height: 225px;
  }
  100% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 30vw;
    margin-right: 30vw;
    width: 40vw;
    height: 225px;
  }
}

@keyframes menuViewResumeToConnectPortrait {
  0% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    width: 85vw;
    height: 1700px;
  }
  25% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    width: 85vw;
    height: 1700px;
  }
  75% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 15vw;
    margin-right: 15vw;
    width: 70vw;
    height: 225px;
  }
  100% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 15vw;
    margin-right: 15vw;
    width: 70vw;
    height: 225px;
  }
}

.menuViewConnectToResume {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
  animation: menuViewConnectToResume 1.5s forwards;
}

@media (max-aspect-ratio: 13/9) {
  .menuViewConnectToResume {
    animation: menuViewConnectToResumePortrait 1.5s forwards;
  }
}

@keyframes menuViewConnectToResume {
  0% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 30vw;
    margin-right: 30vw;
    width: 40vw;
    height: 225px;
  }
  25% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 30vw;
    margin-right: 30vw;
    width: 40vw;
    height: 225px;
  }
  75% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 20vw;
    margin-right: 20vw;
    width: 60vw;
    height: 1700px;
  }
  100% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 20vw;
    margin-right: 20vw;
    width: 60vw;
    height: 1700px;
  }
}

@keyframes menuViewConnectToResumePortrait {
  0% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 15vw;
    margin-right: 15vw;
    width: 70vw;
    height: 225px;
  }
  25% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 15vw;
    margin-right: 15vw;
    width: 70vw;
    height: 225px;
  }
  75% {
    box-shadow: 0px 0px 10px rgb(0, 150, 136, 0.5);
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    width: 85vw;
    height: 1700px;
  }
  100% {
    box-shadow: 0px 0px 10px rgb(69, 90, 100, 0.25);
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    width: 85vw;
    height: 1700px;
  }
}

.menuContentTransitionIn {
  animation: menuContentTransitionIn 0.5s forwards;
}

@keyframes menuContentTransitionIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menuContentTransitionOut {
  animation: menuContentTransitionOut 0.5s forwards;
}

@keyframes menuContentTransitionOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
